<div class="card">
  <div class="card-header">
      Domain Check
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Dropdown</label>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedLine" (change)="dropdownUpdate()">
            <option *ngFor="let item of fuckOff" [value]="item.api">{{item.line}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <form class="form-inline" name="check" *ngIf="selectedLine">
          <div *ngIf="inputsArray">
            <div class="form-group mx-sm-3 mb-2" *ngFor="let item of inputsArray">
              <label [for]="item" class="sr-only">{{item}}</label>
              <input type="text" [id]="item" [name]="item" class="form-control" [(ngModel)]="formObjects[item]" [placeholder]="item">
            </div>
          </div>
        
          <button type="submit" class="btn btn-primary mb-2" (click)="doFfApiCallDan()">Check availabilty</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="alert alert-primary" role="alert" *ngIf="apiResponse">
  {{apiResponse.message}} <em>{{apiResponse.subtitle}}</em>
</div>

<div class="alert alert-danger" role="alert" *ngIf="error">
  {{error | json}}
</div>