<div *ngIf="buienradar">
    <h1>Verwachting vandaag:</h1>
    <strong>{{buienradar.buienradarnl.weergegevens.verwachting_vandaag.titel}}</strong>
    <p>
      {{buienradar.buienradarnl.weergegevens.verwachting_vandaag.tekst}}
    </p>
  </div>
  <div class="card">
    <div class="card-header">
        Buienradar api
    </div>
    <div class="card-body">
        <code>
          <pre>{{ buienradar | json }}</pre>
        </code>
    </div>
  </div>